body {
  padding: 20px;
}

.form {
  width: 50%;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 2px solid #ccc;

  font-size: 16px;
  font-family: Arial, sans-serif;

  -webkit-overflow-scrolling: touch;
}

li {
  padding: 10px 20px;

  border-bottom: 1px solid #ccc;
}

li:hover {
  background-color: lightskyblue;
}
